<template>
  <div class="add-form py-3">
    <p class="headline">Add Transaction</p>

    <v-form ref="form" lazy-validation>
      <v-select
        v-model="trx_type_id"
        :rules="[(v) => !!v || 'Transaction Type is required']"
        :items="trxTypes"
        item-value="id"
        item-text="name"
        label="Tipe Transaksi"
        required>
      </v-select>

      <v-text-field
        v-model="nominal"
        :rules="[(v) => !!v || 'Nominal is required']"
        label="Nominal"
        type="number"
        required>
      </v-text-field>

      <v-textarea
        v-model="keterangan"
        :rules="[(v) => !!v || 'Keterangan is required']"
        label="Keterangan"
        required>
      </v-textarea>

      <v-divider class="my-5"></v-divider>

      <v-btn color="success" @click="submitTransaction">
        Submit
      </v-btn>
    </v-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: "add-transaction",
  data() {
    return {
      nominal: '',
      keterangan: '',
      trx_type_id: '',
      trxTypes: [],
      apiDomain: 'https://kas-mesjid.cowayjkt.id',
    };
  },

  computed: {
    ...mapGetters({
      token: 'auth/token'
    })
  },

  methods: {
    ...mapActions({
      setAlert: 'alert/set'
    }),

    getTrxTypes() {
      const config = {
        method: 'get',
        url: this.apiDomain + '/api/trx-type',
        headers: {
            'Authorization': 'Bearer ' + this.token,
        },
      }

      this.axios(config)
        .then(response => {
          let  trxTypes  = response.data.data
          this.trxTypes = trxTypes
        })
        .catch(error => {
          console.log(error)
        })
    },

    submitTransaction() {
      let formData = new FormData()
      formData.append('nominal', this.nominal)
      formData.append('keterangan', this.keterangan)
      formData.append('trx_type_id', this.trx_type_id)

      const config = {
        method: 'post',
        url: this.apiDomain + '/api/transaction',
        headers: {
            'Authorization': 'Bearer ' + this.token,
        },
        data: formData
      }

      this.axios(config)
          .then(response => {
            this.setAlert({
              status: true,
              color: 'success',
              text: response.data.message
            })
            this.$router.push('/transaction')
          })
          .catch(response => {
            console.log(response)

            this.setAlert({
              status: true,
              color: 'error',
              text: response.data.message
            })
          })
    }
  },

  mounted() {
    this.getTrxTypes()
  },
};
</script>

<style>
.add-form {
  max-width: 480px;
  margin: auto;
}
</style>
