<template>
  <div v-if="currentUser" class="edit-form py-3">
    <p class="headline">Edit User</p>

    <v-form ref="form" lazy-validation>
      <v-select
        v-model="currentUser.role_id"
        :rules="[(v) => !!v || 'Role is required']"
        :items="roles"
        item-value="id"
        item-text="name"
        label="Role User"
        required>
      </v-select>

      <v-text-field
        v-model="currentUser.name"
        :rules="[(v) => !!v || 'Nominal is required']"
        label="Nama Lengkap"
        required>
      </v-text-field>

      <v-text-field
        v-model="currentUser.email"
        :rules="[(v) => !!v || 'Keterangan is required']"
        label="Email"
        type="email"
        required>
      </v-text-field>

      <v-divider class="my-5"></v-divider>

      <v-btn color="success" @click="updateUser">
        Update
      </v-btn>
    </v-form>

    <p class="headline mt-12">Ganti Password</p>

    <v-form ref="form" lazy-validation>
        <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            counter
            @click:append="showPassword = !showPassword">
        </v-text-field>
        <v-text-field
            v-model="password_confirmation"
            :append-icon="showConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showConfirmation ? 'text' : 'password'"
            label="Password Confirmation"
            counter
            @click:append="showConfirmation = !showConfirmation">
        </v-text-field>
        <div class="text-center">
            <v-btn
                color="success lighten-1"
                @click="submitPassword">
                Set Password
                <v-icon right dark>mdi-send</v-icon>
            </v-btn>
        </div>
    </v-form>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: "edit-User",
  data() {
    return {
      currentUser: null,
      roles: [],
      apiDomain: 'https://kas-mesjid.cowayjkt.id',
      password: '',
      password_confirmation: '',
      showPassword: false,
      showConfirmation: false,
    };
  },

  computed: {
    ...mapGetters({
      token: 'auth/token'
    })
  },

  methods: {
    ...mapActions({
      setAlert: 'alert/set'
    }),

    getUser(id) {
      const config = {
        method: 'get',
        url: this.apiDomain + '/api/user/' + id,
        headers: {
            'Authorization': 'Bearer ' + this.token,
          },
      }

      this.axios(config)
        .then(response => {
          let  Users  = response.data.data
          this.currentUser = Users
        })
        .catch(error => {
          console.log(error)
        })
    },

    getRole() {
      const config = {
        method: 'get',
        url: this.apiDomain + '/api/role',
        headers: {
            'Authorization': 'Bearer ' + this.token,
        },
      }

      this.axios(config)
        .then(response => {
          let  roles  = response.data.data
          this.roles = roles
        })
        .catch(error => {
          console.log(error)
        })
    },

    updateUser() {
      let formData = new FormData()
      formData.append('name', this.currentUser.name)
      formData.append('email', this.currentUser.email)
      formData.append('role_id', this.currentUser.role_id)

      const config = {
        method: 'post',
        url: this.apiDomain + '/api/user/' + this.$route.params.id,
        headers: {
            'Authorization': 'Bearer ' + this.token,
        },
        params: { _method: 'PUT' },
        data: formData
      }

      this.axios(config)
          .then(response => {
            this.setAlert({
              status: true,
              color: 'success',
              text: response.data.message
            })
            this.$router.push('/users')
          })
          .catch(response => {
            console.log(response)

            this.setAlert({
              status: true,
              color: 'error',
              text: response.data.message
            })
          })
    },

    submitPassword() {
        const config = {
            method: 'post',
            url: this.apiDomain + '/api/auth/update-password',
            data: {
                'email': this.currentUser.email,
                'password': this.password,
                'password_confirmation': this.password_confirmation
            }
        }

        this.axios(config)
            .then( (response) => {
                this.setAlert({
                    status: true,
                    color: 'success',
                    text: response.data.message
                })

                this.password = ''
                this.password_confirmation = ''
            })
            .catch( (error) => {
                this.setAlert({
                    status: true,
                    color: 'error',
                    text: error
                })
            })
    }
  },
  mounted() {
    this.getUser(this.$route.params.id)
    this.getRole()
  },
};
</script>

<style>
.edit-form {
  max-width: 480px;
  margin: auto;
}
</style>
