<template>
    <v-container>
        <h1>
            Selamat Datang Di aplikasi Kas Mesjid Sederhana
        </h1>
        <p>
            Silahkan login terlebih dahulu. Atau daftar jika belum memiliki akun.
        </p>
    </v-container>
</template>