<template>
  <div v-if="user.id" class="edit-profile py-3">
    <p class="headline">Edit Profile</p>

    <v-form ref="form" lazy-validation>
        <v-img
            :src="user.photo ? 'https://kas-mesjid.cowayjkt.id/img/photo/' + user.photo : 'https://randomuser.me/api/portraits/men/78.jpg'"
            max-width="150"
            height="auto"
            class="mb-5">
        </v-img>

        <v-text-field
            v-model="user.name"
            :rules="[(v) => !!v || 'Name is required']"
            label="Nama Lengkap"
            required>
        </v-text-field>

        <v-text-field
            disabled
            v-model="user.email"
            :rules="[(v) => !!v || 'Email is required']"
            label="Email"
            type="email"
            required>
        </v-text-field>

        <v-file-input
            v-model="photos"
            ref="photo"
            show-size
            accept="image/png, image/jpg, img/jpeg, image/gif"
            counter
            label="Upload Foto">
        </v-file-input>

        <v-divider class="my-5"></v-divider>

        <v-btn color="success" @click="updateProfile">
            Update Profile
        </v-btn>
    </v-form>

    <p class="headline mt-12">Ganti Password</p>

    <v-form ref="form" lazy-validation>
        <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            counter
            @click:append="showPassword = !showPassword">
        </v-text-field>
        <v-text-field
            v-model="password_confirmation"
            :append-icon="showConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showConfirmation ? 'text' : 'password'"
            label="Password Confirmation"
            counter
            @click:append="showConfirmation = !showConfirmation">
        </v-text-field>
        <div class="text-center">
            <v-btn
                color="success lighten-1"
                @click="submitPassword">
                Set Password
                <v-icon right dark>mdi-send</v-icon>
            </v-btn>
        </div>
    </v-form>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'profile',

    data() {
        return {
            photos: null,
            apiDomain: 'https://kas-mesjid.cowayjkt.id',
            password: '',
            password_confirmation: '',
            showPassword: false,
            showConfirmation: false,
        }
    },

    computed: {
        ...mapGetters({
            user: 'auth/user',
            token: 'auth/token'
        })
    },

    methods: {
        ...mapActions({
            setAlert: 'alert/set'
        }),

        updateProfile() {
            
            let formData = new FormData()
            formData.append('name', this.user.name)
            formData.append('email', this.user.email)
            
            if (this.photos) {
                formData.append('photo', this.photos)
            }

            const config = {
                method: 'post',
                url: this.apiDomain + '/api/user/' + this.user.id,
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                },
                params: { _method: 'PUT' },
                data: formData
            }

            this.axios(config)
                .then(response => {
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: response.data.message
                    })
                    this.$router.go(0)
                })
                .catch(error => {
                    console.log(error)

                    this.setAlert({
                    status: true,
                    color: 'error',
                    text: error
                    })
                })
        },

        submitPassword() {
            const config = {
                method: 'post',
                url: this.apiDomain + '/api/auth/update-password',
                data: {
                    'email': this.user.email,
                    'password': this.password,
                    'password_confirmation': this.password_confirmation
                }
            }

            this.axios(config)
                .then( (response) => {
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: response.data.message
                    })

                    this.password = ''
                    this.password_confirmation = ''
                })
                .catch( (error) => {
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: error
                    })
                })
        }
    },
}
</script>