<template>
  <!-- template blogs -->
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-container grid-list-sm>
      <transaction-component></transaction-component>
    </v-container>

  </v-container>
</template>

<script>
import TransactionComponent from '../components/TransactionComponent.vue'

export default {
  data:() => ({
    apiDomain: 'https://kas-mesjid.cowayjkt.id',
    transactions: []
  }),

  components: {
    'transaction-component': TransactionComponent
  },  
}
</script>