<template>
  <!-- template blogs -->
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-container grid-list-sm>
      <user-component></user-component>
    </v-container>

  </v-container>
</template>

<script>
import UserComponent from '../components/UserComponent.vue'

export default {
  data:() => ({
    apiDomain: 'https://kas-mesjid.cowayjkt.id',
    Users: []
  }),

  components: {
    'user-component': UserComponent
  },  
}
</script>