<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Registration</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form" v-if="!otp && !update">
                <v-text-field
                    v-model="name"
                    label="Nama Lengkap"
                    required
                    append-icon="mdi-card-account-details">
                </v-text-field>
                <v-text-field
                    v-model="email"
                    append-icon="mdi-email"
                    label="Email"
                    required>
                </v-text-field>
                <div class="d-flex justify-space-between">
                    <v-btn
                        color="success lighten-1"
                        @click="register">
                        Register
                        <v-icon right dark>mdi-account</v-icon>
                    </v-btn>
                    <v-btn
                        color="success lighten-1"
                        @click="changeToOtp">
                        Submit OTP
                        <v-icon right dark>mdi-send</v-icon>
                    </v-btn>
                    <v-btn
                        color="success lighten-1"
                        @click="changeToUpdatePassword">
                        Update Password
                        <v-icon right dark>mdi-update</v-icon>
                    </v-btn>
                </div>
            </v-form>

            <v-form ref="form" v-if="otp">
                <v-text-field
                    v-model="email"
                    append-icon="mdi-email"
                    label="Email"
                    required>
                </v-text-field>
                <v-otp-input
                    v-model="otp_code"
                    length="6"
                    required
                    @finish="submitOtp">
                </v-otp-input>
                <div class="text-center">
                    <v-btn
                        color="success lighten-1"
                        @click="resendOtp">
                        Re-send OTP
                        <v-icon right dark>mdi-reload</v-icon>
                    </v-btn>
                </div>
            </v-form>

            <v-form ref="form" v-if="update">
                <v-text-field
                    v-model="email"
                    append-icon="mdi-email"
                    label="Email"
                    required>
                </v-text-field>
                <v-text-field
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    label="Password"
                    counter
                    @click:append="showPassword = !showPassword">
                </v-text-field>
                <v-text-field
                    v-model="password_confirmation"
                    :append-icon="showConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showConfirmation ? 'text' : 'password'"
                    label="Password Confirmation"
                    counter
                    @click:append="showConfirmation = !showConfirmation">
                </v-text-field>
                <div class="text-center">
                    <v-btn
                        color="success lighten-1"
                        @click="submitPassword">
                        Set Password
                        <v-icon right dark>mdi-send</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data() {
        return {
            name: '',
            showPassword: false,
            showConfirmation: false,
            email: '',
            apiDomain: 'https://kas-mesjid.cowayjkt.id',
            otp: false,
            otp_code: '',
            update: false,
            password: '',
            password_confirmation: ''
        }
    },

    methods: {
        ...mapActions({
            setAlert: 'alert/set',
            // setToken: 'auth/setToken'
        }),

        changeToOtp() {
            this.otp = true
        },

        changeToUpdatePassword() {
            this.otp = false,
            this.update = true
        },

        close() {
            this.$emit('closed', false)
        },

        register() {
            const config = {
                method: 'post',
                url: this.apiDomain + '/api/auth/register',
                data: {
                    'name': this.name,
                    'email': this.email
                }
            }

            this.axios(config)
                .then( (response) => {                    
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: response.data.message
                    })
                })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: response.data.message
                    })
                })

            this.otp = true
        },

        resendOtp() {
            const config = {
                method: 'post',
                url: this.apiDomain + '/api/auth/regenerate-otp-code',
                data: {
                    'email': this.email
                }
            }

            this.axios(config)
                .then( (response)  => {
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: response.data.message
                    })
                })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: response.data.message
                    })
                })
        },

        submitOtp(value) {
            const config = {
                method: 'post',
                url: this.apiDomain + '/api/auth/verification',
                data: {
                    'otp': value
                }
            }

            this.axios(config)
                .then( (response) => {
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: response.data.message
                    })

                    this.otp = false
                    this.update = true
                })
                .catch( (response) => {
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: response.data.message
                    })
                })
        },

        submitPassword() {
            const config = {
                method: 'post',
                url: this.apiDomain + '/api/auth/update-password',
                data: {
                    'email': this.email,
                    'password': this.password,
                    'password_confirmation': this.password_confirmation
                }
            }

            this.axios(config)
                .then( (response) => {
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: response.data.message
                    })

                    this.update = false
                    this.email = '',
                    this.password = ''
                    this.password_confirmation = ''
                    this.otp_code = ''
                    this.close()
                })
                .catch( (response) => {
                    this.setAlert({
                        status: true,
                        color: 'error',
                        text: response.data.message
                    })
                })
        }
    },
}
</script>