<template>
  <v-card>
    <v-row>
      <v-col cols="4" sm>
        <v-card
          color="#26c6da"
          dark>
          <v-card-title>
            <v-icon
              large
              left>
              mdi-cash-multiple
            </v-icon>
            <span class="text-h6 font-weight-light">Saldo</span>
          </v-card-title>

          <v-card-text class="text-h5 font-weight-bold">
            Rp {{ Number(saldo).toLocaleString('id-ID') }}
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="4" sm>
        <v-card
          color="#26c6da"
          dark>
          <v-card-title>
            <v-icon
              large
              left>
              mdi-import
            </v-icon>
            <span class="text-h6 font-weight-light">Total Pemasukan</span>
          </v-card-title>

          <v-card-text class="text-h5 font-weight-bold">
            Rp {{ Number(kredit).toLocaleString('id-ID') }}
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="4" sm>
        <v-card
          color="#26c6da"
          dark>
          <v-card-title>
            <v-icon
              large
              left>
              mdi-export
            </v-icon>
            <span class="text-h6 font-weight-light">Total Pengeluaran</span>
          </v-card-title>

          <v-card-text class="text-h5 font-weight-bold">
            Rp {{ Number(debit).toLocaleString('id-ID') }}
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <div class="text-right mr-2 mt-16">
      <v-btn text to="/add-transaction" class="primary">
        Add Transaction <v-icon>mdi-plus</v-icon>
      </v-btn>
    </div>

    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details>
      </v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="transactions"
      :search="search"
    >
      <template v-slot:[`item.nominal`]="{ item }">
        <span>{{ Number(item.nominal).toLocaleString('id-ID') }}</span>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editTransaction(item.id)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteTransaction(item.id)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Tipe Transaksi', align: 'start', value: 'trx_type.name', sortable: true },
          { text: 'Nominal', value: 'nominal', sortable: true },
          { text: 'Keterangan', value: 'keterangan', sortable:true },
          { text: 'Tanggal', value: 'created_at', sortable: true },
          { text: 'Actions', value: 'actions' }
        ],
        

        apiDomain: 'https://kas-mesjid.cowayjkt.id',
        transactions: [],
        debit: 0,
        kredit: 0,
        requiresAuth: true,
      }
    },

    computed: {
      ...mapGetters({
        token: 'auth/token'
      }),

      saldo() {
        return this.kredit - this.debit
      }
    },

    methods: {
      ...mapActions({
        setAlert: 'alert/set'
      }),

      go() {
        const config = {
        method: 'get',
        url: this.apiDomain + '/api/transaction',
        headers: {
            'Authorization': 'Bearer ' + this.token,
          },
        }

        this.axios(config)
          .then(response => {
            let  transactions  = response.data.data
            this.transactions = transactions

            this.transactions.forEach(trx => {
              if (trx.trx_type.name == 'debit') {
                this.debit += trx.nominal
              } else {
                this.kredit += trx.nominal
              }
            })
            })
          .catch(error => {
            console.log(error)
            })
      },

      editTransaction(id) {
        this.$router.push({ name: "Edit Transaction", params: { id: id } });
      },

      deleteTransaction(id) {
        if (confirm('Anda yakin?')) {
          const config = {
            method: 'post',
            url: this.apiDomain + '/api/transaction/' + id,
            headers: {
                'Authorization': 'Bearer ' + this.token,
            },
            params: { _method: 'DELETE' }
          }

          this.axios(config)
              .then(response => {
                this.setAlert({
                  status: true,
                  color: 'success',
                  text: response.data.message
                })
                this.go()
              })
              .catch(response => {
                console.log(response)

                this.setAlert({
                  status: true,
                  color: 'error',
                  text: response.data.message
                })
              })
        }
      }
    },

    created() {
      if (this.token.length !== 0) {
        this.go()
      }
    }
  }
</script>