<template>
  <v-card>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details>
      </v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="users"
      :search="search"
    >

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editUser(item.id)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteUser(item.id)">
          mdi-delete
        </v-icon>
      </template>

    </v-data-table>
  </v-card>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Role', align: 'start', value: 'role.name', sortable: true },
          { text: 'Nama', value: 'name', sortable: true },
          { text: 'email', value: 'email', sortable:true },
          { text: 'Actions', value: 'actions' }
        ],
        

        apiDomain: 'https://kas-mesjid.cowayjkt.id',
        users: [],
      }
    },

    computed: {
      ...mapGetters({
        token: 'auth/token'
      }),

      saldo() {
        return this.kredit - this.debit
      }
    },

    methods: {
      ...mapActions({
        setAlert: 'alert/set'
      }),

      go() {
        const config = {
        method: 'get',
        url: this.apiDomain + '/api/user',
        headers: {
            'Authorization': 'Bearer ' + this.token,
          },
        }

        this.axios(config)
            .then(response => {
                let  users  = response.data.data
                this.users = users
            })
            .catch(error => {
                console.log(error)
            })
      },

      editUser(id) {
        this.$router.push({ name: "Edit User", params: { id: id } });
      },

      deleteUser(id) {
        if (confirm('Anda yakin?')) {
          const config = {
            method: 'post',
            url: this.apiDomain + '/api/user/' + id,
            headers: {
                'Authorization': 'Bearer ' + this.token,
            },
            params: { _method: 'DELETE' }
          }

          this.axios(config)
              .then(response => {
                this.setAlert({
                  status: true,
                  color: 'success',
                  text: response.data.message
                })
                this.go()
              })
              .catch(response => {
                console.log(response)

                this.setAlert({
                  status: true,
                  color: 'error',
                  text: response.data.message
                })
              })
        }
      }
    },

    created() {
      if (this.token.length !== 0) {
        this.go()
      }
    }
  }
</script>